@import "/node_modules/tailwindcss/base.css";
@import "/node_modules/tailwindcss/components.css";
@import "/node_modules/tailwindcss/utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Customize the scrollbar */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #212224;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
  }

  font-size: 14px;
}

.main {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;

  .header-area {
    height: 15%;
    width: 20%;
    background-color: #171718;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #0d6efd;
      font-size: 2rem;
    }
  }

  .request-area {
    height: 15%;
    width: 80%;
    background-color: #212224;
    float: right;
    padding: 3.5em 0;

    .btn-dropdown-request{
      width: 80px;
      font-weight: 500;
      font-size: 1rem;
      cursor: pointer;
      &:hover{
        color: #fafafa;
      }
    }


  }

  //? REQUEST INPUT AREA
  .request-input-area {
    color: #fafafa;
    user-select: none;
    width: 80%;
    height: 35%;
    float: right;
    background-color: #212224;
    overflow-y: scroll;

    .cm-scroller::-webkit-scrollbar{
      display: none;
    }
    .cm-editor, .cm-gutters{
      background-color: transparent;
      border: 1px solid #30363d;
    }
    .cm-gutters{
      text-align: center;
    }
    .cm-lineNumbers{
      width: 2vw;
    }

    ul {
      padding: 0;
      li {
        font-weight: 500;
        list-style: none;
        font-size: 1rem;
        color: #fafafa7b;
        display: inline;
        margin-inline: 1.4em;
        cursor: pointer;

        &:hover {
          color: #fafafa;
          transition: 0.2s;
        }
      }
    }

    .parameter-area {
      p {
        color: #fafafa5a;
        font-size: 0.9rem;
        font-weight: 500;
      }
      .custom-dropdown-toggle {
        background-color: none;
        color: #fafafa7b;
        padding: 0;
        border: none;
        font-weight: 500;
        box-shadow: none !important;
        &:hover {
          background-color: transparent;
          color: #fafafa;
        }
      }

      .request-icons {
        color: #0d6efd;
        margin-inline: 0.4em;
        cursor: pointer;
      }

      .btn-parameter-container{
        height: 20vh;
      }
    }
  }

  //? RESPONSE
  .response-area {
    width: 80%;
    height: 50vh;
    background-color: #353739;
    float: right;
    border-top: 1px silver inset;

    .cm-scroller::-webkit-scrollbar{
      display: none;
    }

    .cm-editor, .cm-gutters{
      background-color: transparent;
      border: 1px solid #4d5157;
    }
    .cm-gutters{
      text-align: center;
    }
    .cm-lineNumbers{
      width: 2vw;
    }


    .result-container{
      h4{
        font-size: 1rem;
        text-align: center;
      }
      p{
        text-align: center;
        font-weight: bold;
      }

      

    }

  }

  //? HISTORY

  .history {
    height: 85%;
    width: 20%;
    background-color: #171718;
    float: left;
    display: flow-root;

    .history-text-area {
      height: 7%;
      h2 {
        color: #fafafa;
        font-family: inherit;
        font-size: 1.5rem;
        padding-left: 0.7em;
      }
    }

    .history-card-area {
      height: 93%;
      overflow-y: scroll;
      padding: 1em;
     

      .history-card {
        display: flex;
        justify-content: center;
        background-color: #212224;
        margin: 2em 0;
        overflow: hidden;
        border: 1px solid #30363d;

        .get-method {
          color: #54a7e0; /* blue */
        }
        
        .post-method {
          color: #47d1d1; /* cyan */
        }
        
        .put-method {
          color: #fbb829; /* yellow */
        }
        
        .patch-method {
          color: #a65af7; /* purple */
        }
        
        .delete-method {
          color: #ff6b6b; /* red */
        }
        
        .head-method {
          color: #b7b7b7; /* gray */
        }
        
        

        p:first-child {
          color: #fafafa;
        }
        p:last-child {
          color: #838383;
          word-spacing: 0.2em;
        }

        


      }
    }
  }
}
