@import "/node_modules/tailwindcss/base.css";
@import "/node_modules/tailwindcss/components.css";
@import "/node_modules/tailwindcss/utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Customize the scrollbar */
  background-color: #171718;
  font-size: 12px;
}
body ::-webkit-scrollbar {
  width: 8px;
}
body ::-webkit-scrollbar-track {
  background-color: #212224;
}
body ::-webkit-scrollbar-thumb {
  background-color: #555;
}

.main {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: flex;
}
.main .left-area {
  min-width: 250px;
}
.main .right-area {
  width: 100%;
}
.main .header-area {
  height: 150px;
  width: 100%;
  background-color: #171718;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .header-area h1 {
  color: #0d6efd;
  font-size: 2rem;
}
.main .request-area {
  height: 15%;
  width: 100%;
  background-color: #212224;
  float: right;
  padding: 3.5em 0;
}
.main .request-area .btn-dropdown-request {
  background-color: #17a2b8;
  width: 80px;
  font-weight: 500;
  font-size: 1rem;
  border-color: #17a2b8;
  cursor: pointer;
}
.main .request-area .btn-dropdown-request:hover {
  color: #fafafa;
}
.main .request-area .dropdown-item.active,
.main .request-area .dropdown-item:active {
  background-color: transparent;
}
.main .request-area .dropdown-menu {
  border: 1px solid #30363d;
  background-color: #212224;
}
.main .request-input-area {
  color: #fafafa;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 35%;
  float: right;
  background-color: #212224;
  overflow-y: scroll;
}
.main .request-input-area .cm-scroller::-webkit-scrollbar {
  display: none;
}
.main .request-input-area .cm-editor,
.main .request-input-area .cm-gutters {
  background-color: transparent;
  border: 1px solid #30363d;
}
.main .request-input-area .cm-gutters {
  text-align: center;
}
.main .request-input-area .cm-lineNumbers {
  width: 2vw;
}
.main .request-input-area ul {
  padding: 0;
}
.main .request-input-area ul li {
  font-weight: 500;
  list-style: none;
  font-size: 1rem;
  color: rgba(250, 250, 250, 0.4823529412);
  display: inline;
  margin-inline: 1.4em;
  cursor: pointer;
}
.main .request-input-area ul li:hover {
  color: #fafafa;
  transition: 0.2s;
}
.main .request-input-area .parameter-area p,
.main .request-input-area .body-area p {
  color: rgba(250, 250, 250, 0.3529411765);
  font-size: 0.9rem;
  font-weight: 500;
}
.main .request-input-area .parameter-area .btn-dropdown-request-input,
.main .request-input-area .body-area .btn-dropdown-request-input {
  background-color: none;
  color: rgba(250, 250, 250, 0.4823529412);
  padding: 0;
  border: none;
  font-weight: 500;
}
.main .request-input-area .parameter-area .btn-dropdown-request-input:hover,
.main .request-input-area .body-area .btn-dropdown-request-input:hover {
  color: #fafafa;
}
.main .request-input-area .parameter-area .dropdown-item.active,
.main .request-input-area .parameter-area .dropdown-item:active,
.main .request-input-area .body-area .dropdown-item.active,
.main .request-input-area .body-area .dropdown-item:active {
  background-color: transparent;
}
.main .request-input-area .parameter-area .dropdown-menu,
.main .request-input-area .body-area .dropdown-menu {
  border: 1px solid #30363d;
  background-color: #212224;
}
.main .request-input-area .parameter-area .request-icons,
.main .request-input-area .body-area .request-icons {
  color: #17a2b8;
  margin-inline: 0.4em;
  cursor: pointer;
}
.main .request-input-area .parameter-area .btn-parameter-container,
.main .request-input-area .body-area .btn-parameter-container {
  height: 20vh;
}
.main .response-area {
  width: 100%;
  height: 50vh;
  background-color: #353739;
  float: right;
  border-top: 1px silver inset;
}
.main .response-area p {
  color: #17a2b8;
}
.main .response-area ul {
  padding: 0;
}
.main .response-area ul li {
  font-weight: 500;
  list-style: none;
  font-size: 1rem;
  color: rgba(250, 250, 250, 0.4823529412);
  display: inline;
  margin-inline: 0.7em;
  cursor: pointer;
}
.main .response-area ul li:hover {
  color: #fafafa;
  transition: 0.2s;
}
.main .response-area .nav-body p {
  color: rgba(250, 250, 250, 0.3529411765);
  font-size: 0.9rem;
  font-weight: 500;
}
.main .response-area .nav-body p:last-child {
  font-size: 1.3rem;
  cursor: pointer;
}
.main .response-area .cm-scroller::-webkit-scrollbar {
  display: none;
}
.main .response-area .cm-editor,
.main .response-area .cm-gutters {
  background-color: transparent;
  border: 1px solid #4d5157;
}
.main .response-area .cm-gutters {
  text-align: center;
}
.main .response-area .cm-lineNumbers {
  width: 2vw;
}
.main .response-area .result-container h4 {
  font-size: 1.2rem;
  text-align: center;
}
.main .response-area .result-container p {
  text-align: center;
  font-weight: bold;
}
.main .history {
  background-color: #171718;
  float: left;
  display: flow-root;
  width: 100%;
}
.main .history .history-text-area h2 {
  color: #fafafa;
  font-family: inherit;
  font-size: 1.5rem;
  padding-left: 0.6em;
}
.main .history .history-card-area {
  overflow-y: scroll;
  padding: 1em;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */ /* IE10+/Edge */
  user-select: none; /* Standard syntax */
  font-size: 0.7rem;
}
.main .history .history-card-area::-webkit-scrollbar {
  display: none;
}
.main .history .history-card-area .history-card {
  background-color: #212224;
  border: 1px solid #30363d;
  cursor: pointer;
}
.main .history .history-card-area .history-card .get-method {
  color: #54a7e0; /* blue */
}
.main .history .history-card-area .history-card .post-method {
  color: #47d1d1; /* cyan */
}
.main .history .history-card-area .history-card .put-method {
  color: #fbb829; /* yellow */
}
.main .history .history-card-area .history-card .patch-method {
  color: #a65af7; /* purple */
}
.main .history .history-card-area .history-card .delete-method {
  color: #ff6b6b; /* red */
}
.main .history .history-card-area .history-card .head-method {
  color: #b7b7b7; /* gray */
}
.main .history .history-card-area .history-card p {
  width: 250px;
}
.main .history .history-card-area .history-card p:first-child {
  color: #fafafa;
}
.main .history .history-card-area .history-card p:last-child {
  color: #838383;
  word-spacing: 0.2em;
}/*# sourceMappingURL=styles.css.map */