@import "/node_modules/tailwindcss/base.css";
@import "/node_modules/tailwindcss/components.css";
@import "/node_modules/tailwindcss/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;

  .header-area {
    height: 15%;
    width: 20%;
    background-color: #171718;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fafafa;
      font-size: 2.5rem;
    }
  }

  .request-area {
    height: 15%;
    width: 80%;
    background-color: #212224;
    float: right;
    padding: 3em 3em;
  }
  .request-input-area{
    padding: 2em 3em;
    color: #fafafa;
    width: 80%;
    height: 35%;
    float: right;
    background-color: #212224;
    ul{
      padding: 0;
      li{
        font-weight: 500;
        list-style: none;
        font-size: 1.1rem;
        color: #fafafa7b;
        display: inline;
        margin-inline: 1.4em;
        cursor: pointer;
  
        &:hover{
          color: #fafafa;
          transition: 0.2s;
        }
      }
    }

    .parameter-area{
      p{
        color: #fafafa5a;
        font-size: 0.9em;
        font-weight: 500;
      }
      .custom-dropdown-toggle {
        background-color: none;
        color: #fafafa7b;
        padding: 0;

        border: none;
        font-weight: 500;
        box-shadow: none !important;
        &:hover {
          background-color: transparent;
          color: #fafafa;
        }
      }
      
      .request-icons{
        color: #0d6efd;
        margin-inline: 0.4em;
      }
    }

  }

  .response-area {
    width: 80%;
    height: 50%;
    background-color: #212224;
    float: right;
  }


  .history {
    height: 85%;
    width: 20%;
    background-color: #171718;
    float: left;
    padding: 2em;
    h3 {
      color: #fafafa;
      font-family: inherit;
    }
  }
}
